$background-color: #22343c;
$modal-color: #30444e;

$red-300: #ff464f;
$red-200: #ff575f;
$red-100: #ffe5e7;

$orange-300: #ff8a34;
$orange-200: #ff974a;
$orange-100: #ffefe3;

$yellow-300: #ffbc25;
$yellow-200: #ffc542;
$yellow-100: #fef3d9;

$green-300: #25c685;
$green-200: #3dd598;
$green-100: #d4f5e9;

$blue-300: #005df2;
$blue-200: #81b0fa;
$blue-100: #e3eeff;

$purple-300: #6952dc;
$purple-200: #755fe2;
$purple-100: #edeafd;

$grey-100: #42545c;
$grey-200: #9199a7;
$grey-300: #dee1e9;
