.search {
  display: flex;
  width: 95%;

  & > input {
    box-sizing: border-box;
    flex-grow: 2;
    padding: 0px 5px;
  }
}

.input {
  box-sizing: border-box;
  border: none;
  border-radius: 5px 0 0 5px;
  margin: 1px;
  padding: 2px;
  outline: none;
}

.btn {
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  margin: 1px;
  padding: 2px;
}
